
@mixin btn-outline {
    font-size:small;
    padding: 10px 20px;
     border-radius: 20px;
    border: $brand-purple solid 1px;
    color: $brand-purple;
    transition:background-color 0.3s ease, color 0.3s ease;

    &:hover{
        background-color: $brand-purple;
        color: white;

         transition: background-color 0.3s ease, color 0.3s ease;
    }
        
}

header{
    nav{
        padding: 20px 0px;
        font-family: $font-family;
        margin: 0 auto;
        width: 80vw;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            img{

            }
        }
        .menu{
            display: flex;
            
            li{
                display: flex;
                align-items: center;
               cursor: pointer;
                font-size:small;
                list-style-type: none;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: $title-gray;
                    margin-right: 10px;

                    &.active{
                        color: $brand-purple;
                        font-weight: 700;
                    }
                    
                }
                img{
                    width: 10px;
                    height: 10px;
                    color: $brand-purple;
                }

            }
        }
        .btn-area{
            li{
                .btn-outline{
                    @include btn-outline;
                }
            }
        }

    }
}


@media screen and(max-width:820px){
    header{
        nav{
            position: relative;
            .menu{
                display: none;
                opacity: 0;
                transition: opacity 0.2s ease;
                &.open{
                    top: 100px;
                    width: 100vw;
                    margin: 0 auto;
                    height: 70vh;
                    justify-content: space-around;
                    align-items: center;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    background: $brand-purple;
                    border-radius: 5px;
                    opacity: 1;
                    transition: opacity 0.2s ease;
                    z-index: 100;
                    li{
                        border-bottom: 1px solid white;
                        width: 100%;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        a{
                            color: white;
                            font-size: 2rem;

                            &.active{
                                
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .btn-area{
                display: none;
            }
            .menu-mobile{
                display: flex;
                height: 100%;
                width: 40px;
                flex-direction: column;
                margin: 10px;
                span{
                    display: flex;
                    width: 100%;
                    margin: 3px 0px;
                    height: 4px;
                    background-color: $brand-purple;
                }
            }
            
        }
    }
}