$brand-purple:rgb(177, 5, 180);
$title-gray:#444444;
$subtitle-gray:#808080;
$input-gray:#d9d9d9;
$background-gradient:linear-gradient(#fff, #fcf2ff);
$form-box-shadow: -15px 5px 30px gray;
$font-family:'Poppins',sans-serif;
