header nav {
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  width: 80vw;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: small;
  list-style-type: none;
  padding: 10px;
}

header nav .menu li a {
  text-decoration: none;
  color: #444444;
  margin-right: 10px;
}

header nav .menu li a.active {
  color: #b105b4;
  font-weight: 700;
}

header nav .menu li img {
  width: 10px;
  height: 10px;
  color: #b105b4;
}

header nav .btn-area li .btn-outline {
  font-size: small;
  padding: 10px 20px;
  border-radius: 20px;
  border: #b105b4 solid 1px;
  color: #b105b4;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header nav .btn-area li .btn-outline:hover {
  background-color: #b105b4;
  color: white;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 820px) {
  header nav {
    position: relative;
  }
  header nav .menu {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }
  header nav .menu.open {
    top: 100px;
    width: 100vw;
    margin: 0 auto;
    height: 70vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #b105b4;
    border-radius: 5px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 100;
  }
  header nav .menu.open li {
    border-bottom: 1px solid white;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .menu.open li a {
    color: white;
    font-size: 2rem;
  }
  header nav .menu.open li a.active {
    font-weight: 400;
  }
  header nav .btn-area {
    display: none;
  }
  header nav .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
  }
  header nav .menu-mobile span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 3px 0px;
    height: 4px;
    background-color: #b105b4;
  }
}

.context-introdution {
  padding: 20px 0px;
  width: 40%;
  min-width: 325px;
}

.context-introdution h2 {
  font-size: xx-large;
  color: #444444;
}

.context-introdution h2 .letters-purple {
  color: #b105b4;
}

.context-introdution p {
  font-size: small;
  color: #808080;
  margin-bottom: 20px;
}

.context-introdution .btn-outline {
  position: relative;
  font-size: small;
  padding: 10px 20px;
  border-radius: 20px;
  border: #b105b4 solid 1px;
  color: #b105b4;
}

.context-introdution .btn-outline:hover object {
  position: relative;
  -webkit-animation: arrow 0.3s ease 0s infinite alternate;
          animation: arrow 0.3s ease 0s infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    left: 0px;
  }
  100% {
    left: 10px;
  }
}

@keyframes arrow {
  0% {
    left: 0px;
  }
  100% {
    left: 10px;
  }
}

@media screen and (max-width: 820px) {
  .context-introdution {
    width: 80vw;
    min-width: auto;
  }
}

.forms-section {
  padding: 20px 0px;
  width: 50%;
  min-width: 300px;
}

.forms-section form {
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px rgba(177, 5, 180, 0.3);
          box-shadow: 0px 0px 30px rgba(177, 5, 180, 0.3);
  padding: 30px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms-section form object {
  width: 49px;
  height: 37px;
}

.forms-section form h2 {
  margin-bottom: 20px;
  font-size: larger;
}

.forms-section form h2 .text-purple {
  color: #b105b4;
}

.forms-section form input {
  width: 100%;
  color: #d9d9d9;
  padding: 10px 20px;
  outline: none;
  border: #d9d9d9 solid 1px;
  font-size: small;
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
  border-radius: 4px;
}

.forms-section form input:focus {
  border: #b105b4 1px solid;
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
  color: #b105b4;
}

.forms-section form input::-webkit-input-placeholder {
  color: #d9d9d9;
}

.forms-section form input:-ms-input-placeholder {
  color: #d9d9d9;
}

.forms-section form input::-ms-input-placeholder {
  color: #d9d9d9;
}

.forms-section form input::placeholder {
  color: #d9d9d9;
}

.forms-section form input:not(:placeholder-shown) {
  color: #b105b4;
  border: #b105b4 1px solid;
}

.forms-section form button {
  padding: 15px 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #b105b4;
  color: white;
  border: none;
  font-size: small;
  -webkit-transition: letter-spacing 0.3s ease;
  transition: letter-spacing 0.3s ease;
}

.forms-section form button:hover {
  letter-spacing: 2px;
  -webkit-transition: letter-spacing 0.3s ease;
  transition: letter-spacing 0.3s ease;
}

@media screen and (max-width: 820px) {
  .forms-section {
    width: 100%;
  }
  .forms-section form {
    width: auto;
    min-width: auto;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html, body {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fcf2ff));
  background: linear-gradient(#fff, #fcf2ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin: 0 auto;
  width: 80vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .icon-drop-down {
  width: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-animation: bounce-arrow 0.7s ease-in 0s infinite alternate;
          animation: bounce-arrow 0.7s ease-in 0s infinite alternate;
}

@-webkit-keyframes bounce-arrow {
  from {
    bottom: 0px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes bounce-arrow {
  from {
    bottom: 0px;
  }
  to {
    bottom: 10px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */